{{-- Partial berdata: dipanggil dengan @include("partials/kode", {...}) --}}
<div class="kode">
    <div class="kode-bar">
        <span class="dot r"></span><span class="dot y"></span><span class="dot g"></span>
        <span class="kode-judul">{{ $judul }}</span>
    </div>
    <pre><code>{{ $isi }}</code></pre>
</div>
